<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Ciclo3 Final - Dashboard</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}"/>

  <link rel="stylesheet" th:href="@{/assets/vendors/iconly/bold.css}"/>

  <link rel="stylesheet" th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
  <link rel="shortcut icon" th:href="@{/assets/images/favicon.svg}" type="image/x-icon">
</head>

<body>
<div id="app">
  <div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
      <div class="sidebar-header">
        <div class="d-flex justify-content-between">
          <div class="logo">
            <a ><img src="/assets/images/logo/logo.png" alt="Logo" srcset="" /></a>
          </div>
          <div class="toggler">
            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul class="menu">
          <li class="sidebar-title">Menu</li>

          <li class="sidebar-item active ">
            <a th:href="@{/ViewTransaction}" class='sidebar-link'>
              <i class="bi bi-grid-fill"></i>
              <span>Ingresos y Egresos </span>
            </a>
          </li>
          <li class="sidebar-item  ">
            <a th:href="@{/ViewEmployee}" class='sidebar-link'>
              <i class="bi bi-life-preserver"></i>
              <span>Usuarios</span>
            </a>
          </li>

          <li class="sidebar-item  ">
            <a th:href="@{/ViewEnterprise}" class='sidebar-link'>
              <i class="bi bi-puzzle"></i>
              <span>Empresas</span>
            </a>
          </li>

        </ul>
      </div>
      <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
  </div>
  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body py-4 px-5">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img src="/assets/images/faces/1.jpg" alt="Face 1">
            </div>
            <div class="ms-3 name">
              <h5 class="font-bold">Team Rocket</h5>
              <button type="button" class="btn btn-outline-warning" style="float:right"><a th:href="@{/Login}">Cerrar Sesión</a></button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <h1> Editar Movimiento</h1>
    <!--Dibujamos la tabla-->
    <br>
    <!--Crear formulario para llenar los datos de la transaccion y guardarlo en el objeto emp -->
    <form th:action="@{/UpdateTransaction}" th:object="${move}" method="post">

      <!--Campo para id-->
      <div class="row">
        <div class="form-group col-md-12">
          <label class="col-md-3" for="id">ID de la Empresa:</label>
          <div class="col-md-6">
            <input type="text" th:field="*{id}" class="form-control" id="id" required="required" readonly></div>
        </div>
      </div>

      <!--Campo para nombre-->
      <div class="row">
        <div class="form-group col-md-12">
          <label class="col-md-3" for="concept">Razón de la Transacción</label>
          <div class="col-md-6">
            <input type="text" th:field="*{concept}" class="form-control" id="concept" required="required"></div>
        </div>
      </div>

      <!--Campo para el monto-->
      <div class="row">
        <div class="form-group col-md-12">
          <label class="col-md-3" for="amount">Monto de la transacción</label>
          <div class="col-md-6">
            <input type="text" th:field="*{amount}" class="form-control" id="amount" required="required"></div>
        </div>
      </div>

      <!--Campo para empleado-->
      <div class="row">
        <div class="form-group col-md-12">
          <label class="col-md-3" for="user">Empleado responsable::</label>
          <div class="col-md-6">
            <select th:field="*{user}" class="form-control" id="user" required="required">
              <option th:each="user : ${employeelist}" th:text="${user.profile}" th:value="${user.id}"></option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label hidden class ="col-md-3" for="updateAt">Fecha del movimiento:</label>
          <div class="col-md-6">
            <input type="date" th:field="*{updateAt}" class="form-control" id="updateAt" required="required" hidden></div>
        </div>
      </div>

      <!--Campo para empresa-->
      <div class="row">
        <div class="form-group col-md-12">
          <label class="col-md-3" for="enterprise">Empresa a la que pertence:</label>
          <div class="col-md-6">
            <select th:field="*{enterprise}" class="form-control" id="enterprise" required="required">
              <option hidden th:each="enterprise : ${emprelist}" th:text="${enterprise.name}" th:value="${enterprise.id}"></option>
            </select>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer clearfix mb-0 text-muted">
          <div class="float-start">
            <p>2022 &copy; Team Rocket</p>
          </div>
          <div class="float-end">
            <p>Creado por Obligacion <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                    href="https://github.com/heartshaped/MISIONTIC3C/tree/Julian">Team Rocket</a></p>
          </div>
        </div>
      </footer>
      <!--Boton para enviar todo y ejecutar accion -->
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-success">Registrar Transacción</button>
        </div>
      </div>

  </div>

  </form>

</div>
<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/main.js"></script>
<script th:inline="javascript">
  window.onload=function(){
  document.getElementById("updateAt").value=new Date().toJSON().slice(0,10).replace(/-/g,'-');
  }
</script>
</body>
