<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Ciclo3 Final - Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}"/>

    <link rel="stylesheet" th:href="@{/assets/vendors/iconly/bold.css}"/>

    <link rel="stylesheet" th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.svg}" type="image/x-icon">
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a ><img src="/assets/images/logo/logo.png" alt="Logo" srcset="" /></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item active ">
                        <a th:href="@{/ViewTransaction}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Ingresos y Egresos </span>
                        </a>
                    </li>
                    <li class="sidebar-item  ">
                        <a th:href="@{/ViewEmployee}" class='sidebar-link'>
                            <i class="bi bi-life-preserver"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a th:href="@{/ViewEnterprise}" class='sidebar-link'>
                            <i class="bi bi-puzzle"></i>
                            <span>Empresas</span>
                        </a>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-5">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="/assets/images/faces/1.jpg" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">Team Rocket</h5>
                            <button type="button" class="btn btn-outline-warning" style="float:right"><a th:href="@{/Login}">Cerrar Sesión</a></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <h1> Lista de Empresas</h1>
    <!--Dibujamos la tabla-->
    <br><table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Telefono</th>
        <th>NIT</th>
        <th>Empleados</th>
        <th>Movimientos</th>
        <th>Editar</th>


    </tr>
        <div class="buttons">
    <tr th:each="enterprise : ${entlist}" >
        <td th:text="${enterprise.id}"></td>
        <td th:text="${enterprise.name}"></td>
        <td th:text="${enterprise.address}"></td>
        <td th:text="${enterprise.phone}"></td>
        <td th:text="${enterprise.document}"></td>
        <td><button type="button" class="btn btn-outline-info"><a th:href="@{/Enterprise/{id}/Employee (id=${enterprise.id})}">Ver Empleados</a></button></td>
        <td><button href="#" type="buttons" class="btn btn-outline-info"><a th:href="@{/Enterprise/{id}/Transaction (id=${enterprise.id})}">Ver Movimientos</a></button></td>
        <td><button type="button" class="btn btn-outline-info"><a th:href="@{/EditEnterprise/{id}(id=${enterprise.id})}">Editar</a></button></td>

    </tr>
        </div>

    </table>
        <button type="button" class="btn btn-outline-success"><a th:href="@{/AddEnterprise}">Agregar Nueva Empresa</a></button>
        <br><br>


        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Team Rocket</p>
                </div>
                <div class="float-end">
                    <p>Creado por Obligacion <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                            href="https://github.com/heartshaped/MISIONTIC3C/tree/Julian">Team Rocket</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendors/apexcharts/apexcharts.js"></script>
<script src="assets/js/pages/dashboard.js"></script>

<script src="assets/js/main.js"></script>
</body>

